@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
  @page {
    size: A4;
    margin: 10mm;
  }
  
  html, body {
    width: 190mm;
    height: 250;
  }

  main {
    width: 190mm;
    min-height: 250mm;
    padding: 0;
    margin: 0;
  }
}